## Import Library

In [2]:
import pandas as pd
import re

## Load Data

In [3]:

file_path = 'C:/Users/user/CAPSTONE-PROJEK---CODEY/Machine Learning/kategori soal/operator.csv'

data = pd.read_csv(file_path)
data.head()

,Instruction,Input,Output,materi,question_id
0,Create a for-loop in Python and use it to find...,"[1, 4, 9, 16, 25]","total = 0\r\nfor num in [1, 4, 9, 16, 25]:\r\n...",Operator,60
1,Generate a Python program to remove a key-valu...,"d = { 'a': 10, 'b': 20, 'c':30 }","def remove_pair(d, key):\r\n if key in d:\r\n ...",Operator,78
2,Write a Python code to generate the Fibonacci ...,7,def fibonacciSequence(n): \r\n fibSequence ...,Operator,104
3,Create a function to calculate the midpoint be...,"point1 = [35.0, 43.0, 81.0]\r\npoint2 = [82.0,...","def midpoint3D(point1, point2): \r\n x_mid ...",Operator,115
4,Edit the given Python code to reverse the orde...,"string = ""Hello World!""",def reverse_string(string):\r\n reversed_st...,Operator,127

In [4]:
def add_placeholder(code):
    """
    Gantikan kata setelah kata kunci dengan placeholder '___'.
    Hanya satu kali mengganti di seluruh kode setelah menemukan kecocokan pertama.
    """
    # Pola regex untuk mencari kata kunci dan mengganti kata setelahnya dengan placeholder
    patterns = [
         r'(\+|\-|\*|\/|\%|\*\*|==|!=|<|>|<=|>=|=)\s+(\w+)\b'
    ]
    
    # Cari kecocokan pertama dalam seluruh kode
    for pattern in patterns:
        match = re.search(pattern, code)
        if match:
            # Ganti kata setelah kata kunci dengan placeholder '___' pada kecocokan pertama
            code = re.sub(pattern, r'\1 ___', code, count=1)  # Hanya mengganti kecocokan pertama
    
    return code

Menambahkan kolom template untuk soal

In [5]:
# Terapkan fungsi pada kolom 'Output'
data['Template'] = data['Output'].apply(add_placeholder)
print(data['Template'][0])
print(data['Output'][0])

total = ___
for num in [1, 4, 9, 16, 25]:
  total += num
print(total)
total = 0
for num in [1, 4, 9, 16, 25]:
  total += num
print(total)

Membuat fungsi untuk mengecek data soal memiliki placeholder

In [6]:
def check_placeholder_in_column(df, column_name, placeholder="___"):
    """
    Cek apakah kolom tertentu dalam DataFrame mengandung placeholder.
    
    Args:
        df (pd.DataFrame): DataFrame yang akan dicek.
        column_name (str): Nama kolom yang akan diperiksa.
        placeholder (str): Placeholder yang dicari (default: "___").
    
    Returns:
        pd.Series: Kolom boolean (True jika ada placeholder, False jika tidak).
    """
    return df[column_name].str.contains(placeholder, na=False)

In [7]:
data["has_placeholder"] = check_placeholder_in_column(data, "Template")

print(data["has_placeholder"].value_counts())

has_placeholder
True     235
False     52
Name: count, dtype: int64

In [8]:
# Hapus baris dengan nilai False
data = data[data["has_placeholder"]]

In [9]:
print(data["has_placeholder"].value_counts())

# Hapus kolom 'has_placeholder' jika tidak diperlukan lagi
data = data.drop(columns=["has_placeholder"])

has_placeholder
True    235
Name: count, dtype: int64

In [10]:
def extract_keyword_variable(code):
    """
    Mengambil kata setelah kata kunci dan mengembalikannya.
    """
    # Pola regex untuk mencari kata kunci dan mengekstrak kata setelahnya
    pattern = r'(\+|\-|\*|\/|\%|\*\*|==|!=|<|>|<=|>=|=)\s+(\w+)\b'
    
    match = re.search(pattern, code)
    
    # Jika ada kecocokan, ambil kata setelah kata kunci (hasil kedua dalam tuple)
    if match:
        return match[2]  # Kata setelah kata kunci
    
    return None

In [11]:
data['correct_answer'] = data['Output'].apply(extract_keyword_variable)
data['material'] = data['materi']
data['instruction'] = data['Instruction']
data['template'] = data['Template']
data['input'] = data['Input']
data['attempts'] = '1'
data['duration'] = '20'

data = data[['question_id', 'material','instruction', 'template', 'input', 'correct_answer', 'attempts', 'duration']]

## Save Data ke dalam csv

In [12]:
# Simpan dataset yang telah diproses
data.to_csv('Operator_with_placeholders.csv', index=False)

In [13]:
# import json

# # Membuat struktur JSON
# json_data = {"quiz": []}

# for _, row in data.iterrows():
#     question_id = row['question_id']
#     material = row['materi']
#     instruction = row['Instruction']
#     question = row['Template']
#     attempts = '1'
#     duration = '20'
    
#     # Menggunakan regex untuk mencari placeholder '___' dan menggantinya dengan 'if'
#     if '___' in question:
#         correct_answer = row['correct_answer'] # Hanya menampilkan pengganti dari placeholder
#     else:
#         correct_answer = ""  # Jika tidak ada placeholder ___

#     # Menambahkan ke struktur JSON
#     question_entry = {
#         "question_id": question_id,
#         "material": material,
#         "instruction": instruction,
#         "question": question,
#         "correct_answer": correct_answer,
#         "attempts": attempts,
#         "duration": duration
#     }
#     json_data["quiz"].append(question_entry)

# # Menyimpan ke file JSON
# output_json_path = 'questions_operators.json'
# with open(output_json_path, 'w') as json_file:
#     json.dump(json_data, json_file, indent=4)

# print(f"File JSON berhasil disimpan: {output_json_path}")

In [14]:
data.head()

,question_id,material,instruction,template,input,correct_answer,attempts,duration
0,60,Operator,Create a for-loop in Python and use it to find...,"total = ___\r\nfor num in [1, 4, 9, 16, 25]:\r...","[1, 4, 9, 16, 25]",0,1,20
2,104,Operator,Write a Python code to generate the Fibonacci ...,def fibonacciSequence(n): \r\n fibSequence ...,7,0,1,20
3,115,Operator,Create a function to calculate the midpoint be...,"def midpoint3D(point1, point2): \r\n x_mid ...","point1 = [35.0, 43.0, 81.0]\r\npoint2 = [82.0,...",point2,1,20
4,127,Operator,Edit the given Python code to reverse the orde...,def reverse_string(string):\r\n reversed_st...,"string = ""Hello World!""",1,1,20
5,137,Operator,Write a Python program to convert a timestamp ...,import datetime\r\n\r\n# Function to convert t...,timestamp: 1591123259,1591123259,1,20