## Import Library

In [2]:
import pandas as pd
import re

## Load data

In [3]:
file_path = r'C:\Users\user\CAPSTONE-PROJEK---CODEY\Machine Learning\kategori soal\others.csv'

data = pd.read_csv(file_path)

data.head()

,Instruction,Input,Output,materi,question_id
0,Write a Python program to generate a Fibonacci...,Number of elements = 10,def generateFibonacci(numOfElements):\r\n sequ...,Lainnya,5
1,Identify the output of the following python co...,"arr = [1, 2, 4, 8, 16]\r\nnew_arr = [i * 2 for...","[2, 4, 8, 16, 32]",Lainnya,6
2,Fix the following syntax in Python code,"string1 = ""Programming""\r\nstring2 = ""Fundamen...","string1 = ""Programming""\r\nstring2 = ""Fundamen...",Lainnya,9
3,Write a python program to successfully insert ...,"student_name = ""John Doe""\r\nstudent_age = 20","import sqlite3\r\n\r\nconn = sqlite3.connect(""...",Lainnya,12
4,Create a web server in Python.,<no input>,import http.server\r\nimport socketserver\r\n\...,Lainnya,20

In [4]:
def add_placeholder(code):
    """
    Gantikan kata setelah kata kunci dengan placeholder '___'.
    Hanya satu kali mengganti di seluruh kode setelah menemukan kecocokan pertama.
    """
    # Pola regex untuk mencari kata kunci dan mengganti kata setelahnya dengan placeholder
    patterns = [
         r'\b(import|open|read|write|close|with\s+open)\s+(\w+)\b'
    ]
    
    # Cari kecocokan pertama dalam seluruh kode
    for pattern in patterns:
        match = re.search(pattern, code)
        if match:
            # Ganti kata setelah kata kunci dengan placeholder '___' pada kecocokan pertama
            code = re.sub(pattern, r'\1 ___', code, count=1)  # Hanya mengganti kecocokan pertama
    
    return code

Menambah kolom Template untuk soal

In [5]:
# Terapkan fungsi pada kolom 'Full Code'
data['Template'] = data['Output'].apply(add_placeholder)
print(data['Template'][3])

import ___

conn = sqlite3.connect("example.db")
c = conn.cursor()
c.execute("INSERT INTO students VALUES ('John Doe', 20)")
conn.commit()
conn.close()

Membuat fungsi untuk mengecek data soal memiliki placeholder

In [6]:
def check_placeholder_in_column(df, column_name, placeholder="___"):
    """
    Cek apakah kolom tertentu dalam DataFrame mengandung placeholder.
    
    Args:
        df (pd.DataFrame): DataFrame yang akan dicek.
        column_name (str): Nama kolom yang akan diperiksa.
        placeholder (str): Placeholder yang dicari (default: "___").
    
    Returns:
        pd.Series: Kolom boolean (True jika ada placeholder, False jika tidak).
    """
    return df[column_name].str.contains(placeholder, na=False)

In [7]:
data["has_placeholder"] = check_placeholder_in_column(data, "Template")

print(data["has_placeholder"].value_counts())

has_placeholder
False    1686
True      504
Name: count, dtype: int64

In [8]:
# Hapus baris dengan nilai False
data = data[data["has_placeholder"]]

print(data["has_placeholder"].value_counts())

# Hapus kolom 'has_placeholder' jika tidak diperlukan lagi
data = data.drop(columns=["has_placeholder"])

has_placeholder
True    504
Name: count, dtype: int64

In [9]:
def extract_keyword_variable(code):
    """
    Mengambil kata setelah kata kunci dan mengembalikannya.
    """
    # Pola regex untuk mencari kata kunci dan mengekstrak kata setelahnya
    pattern = r'\b(import|open|read|write|close|with\s+open)\s+(\w+)\b'
    
    match = re.search(pattern, code)
    
    # Jika ada kecocokan, ambil kata setelah kata kunci (hasil kedua dalam tuple)
    if match:
        return match[2]  # Kata setelah kata kunci
    
    return None

In [10]:
data['correct_answer'] = data['Output'].apply(extract_keyword_variable)
data['material'] = data['materi']
data['instruction'] = data['Instruction']
data['template'] = data['Template']
data['input'] = data['Input']
data['attempts'] = '1'
data['duration'] = '20'

data = data[['question_id', 'material','instruction', 'template', 'input', 'correct_answer', 'attempts', 'duration']]

## Save Data

In [11]:
# Simpan dataset yang telah diproses
data.to_csv('others_with_placeholders.csv', index=False)

In [12]:
data.head()

,question_id,material,instruction,template,input,correct_answer,attempts,duration
3,12,Lainnya,Write a python program to successfully insert ...,"import ___\r\n\r\nconn = sqlite3.connect(""exam...","student_name = ""John Doe""\r\nstudent_age = 20",sqlite3,1,20
4,20,Lainnya,Create a web server in Python.,import ___.server\r\nimport socketserver\r\n\r...,<no input>,http,1,20
16,57,Lainnya,Write a Python program that takes a sentence a...,import ___\r\n\r\ndef removePunctuations(sente...,"String: ""This, is a?! test* sentence.""",string,1,20
22,93,Lainnya,Write a Python program to solve a quadratic eq...,import ___\r\n\r\n# Solve the quadratic equati...,a = 1\r\nb = -5\r\nc = 6,math,1,20
23,99,Lainnya,Write a Python code to tokenize the given sent...,"import ___\r\n\r\nsentence = ""This is a sample...",This is a sample sentence,nltk,1,20

In [13]:
# import json

# # Membuat struktur JSON
# json_data = {"quiz": []}

# for _, row in data.iterrows():
#     question_id = row['question_id']
#     material = row['materi']
#     instruction = row['Instruction']
#     question = row['Template']
#     attempts = '1'
#     duration = '20'
    
#     # Menggunakan regex untuk mencari placeholder '___' dan menggantinya dengan 'if'
#     if '___' in question:
#         correct_answer = row['correct_answer'] # Hanya menampilkan pengganti dari placeholder
#     else:
#         correct_answer = ""  # Jika tidak ada placeholder ___

#     # Menambahkan ke struktur JSON
#     question_entry = {
#         "question_id": question_id,
#         "material": material,
#         "instruction": instruction,
#         "question": question,
#         "correct_answer": correct_answer,
#         "attempts": attempts,
#         "duration": duration
#     }
#     json_data["quiz"].append(question_entry)

# # Menyimpan ke file JSON
# output_json_path = 'questions_others.json'
# with open(output_json_path, 'w') as json_file:
#     json.dump(json_data, json_file, indent=4)

# print(f"File JSON berhasil disimpan: {output_json_path}")

In [14]:
data.head()

,question_id,material,instruction,template,input,correct_answer,attempts,duration
3,12,Lainnya,Write a python program to successfully insert ...,"import ___\r\n\r\nconn = sqlite3.connect(""exam...","student_name = ""John Doe""\r\nstudent_age = 20",sqlite3,1,20
4,20,Lainnya,Create a web server in Python.,import ___.server\r\nimport socketserver\r\n\r...,<no input>,http,1,20
16,57,Lainnya,Write a Python program that takes a sentence a...,import ___\r\n\r\ndef removePunctuations(sente...,"String: ""This, is a?! test* sentence.""",string,1,20
22,93,Lainnya,Write a Python program to solve a quadratic eq...,import ___\r\n\r\n# Solve the quadratic equati...,a = 1\r\nb = -5\r\nc = 6,math,1,20
23,99,Lainnya,Write a Python code to tokenize the given sent...,"import ___\r\n\r\nsentence = ""This is a sample...",This is a sample sentence,nltk,1,20